# Директории Go модулей и пакетов
/go.sum
/go.mod

# Загрузочные данные, кэш и скомпилированные бинарные файлы
/bin/
/build/
/out/
/vendor/

# Кэш go модулей
/pkg/
/.cache/

# Тестовые данные и временные файлы
*.test
*.exe
*.exe~
*.dll
*.so
*.dylib
*.log
*.tmp

# IDE и редакторы кода
.idea/
/.vscode/
/*.iml

# Системные файлы
.DS_Store
*.swp

# Docker
.dockerignore


# Файлы конфигурации
.env
